<button class="hackyTrick"></button>

<h2 class="myListsTitle">My lists</h2>

<div class="listsContainer">

    <% lists.forEach((list) => { %>
        <div class="singleListContainer">
            <a class="listLink" href="/user/list/<%= list.id %> "><h4><%= list.name %> </h4></a>
            <img class="listImg" src="<%= images[Math.floor(Math.random() * images.length)] %>" width='200' alt="listCover">
        </div>
    <% }) %>

    <div class="singleListContainer">
        <h4 class="addListTitle">Add new list</h4>
        <img class="listImg" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-filming-filming-film-festival-movie-png-image_3854965.jpg" width='200' alt="listCover">
    </div>

</div>

<script>
    const newListDiv = document.querySelector('.newListContainer')
    const addListImg = document.querySelector('.addListImg')
    addListImg.addEventListener('click', function(){ 
        const newListForm = document.createElement('form')
        const newListInput = document.createElement('input')
        const addListBtn = document.createElement('button')

        addListBtn.innerHTML = 'Submit'
        addListBtn.setAttribute('type', 'submit')
        addListBtn.setAttribute('class', 'addListBtn')

        newListForm.setAttribute('action', '/user/profile/addList')
        newListForm.setAttribute('method', 'post')

        newListInput.setAttribute('name', 'listName')
        newListInput.setAttribute('class', 'addListInput')
        
        newListForm.appendChild(newListInput)
        newListForm.appendChild(addListBtn)

        newListDiv.appendChild(newListForm)
        newListDiv.setAttribute('class', 'addListContainer')

})
</script>

<link rel="stylesheet" href="/styles/profile.css">

<link rel="stylesheet" href="/styles/myLists.css">