<div class="loginContainer">
    <h2>Log in</h2>

    <form action="/user/login" method="post" class="loginForm">
        <input placeholder="Email" name="email" type="email">
        <input placeholder="Password" name="password" type="password">
        <button type="submit" class="loginBtn">Log in</button>
    </form>

<span>Don't have an account yet? <a href="/user/signup" class="loginLink">Sign up</a> </span>

</div>



<link rel="stylesheet" href="/styles/signupLogin.css">