<h2>Lights, camera, action!</h2>
<h3>Welcome, <%= user.username %> </h3>

<div class="profileContainer">
    <div class="MyListsContainer">
        <h3>My lists</h3>

        <div class="singleListContainer">
            <h4>Watched</h4>
            <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-filming-filming-film-festival-movie-png-image_3854965.jpg" width='200' alt="listCover">
        </div>

        <div class="singleListContainer">
            <h4>Watchlist</h4>
            <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-filming-filming-film-festival-movie-png-image_3854965.jpg" width='200' alt="listCover">
        </div>
        
        <div class="singleListContainer">
            <h4>Add new list</h4>

    
            


            <a href="/user/profile/addList" class="addListLink"><img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-filming-filming-film-festival-movie-png-image_3854965.jpg" width='200' alt="listCover"></a>
        </div>
    </div>



    <div>Fun stats</div>
</div>
<script>
    const addListLink = document.querySelector('.addListLink')
    addListLink.addEventListener('click', function(){ 
    const newListInput = document.createElement('input') 
    addListLink.type = "text"; addListLink.value = "aaa";

})
</script>