<h2>Sign up</h2>

<form action="/user/signup" method="post">
    <input placeholder="Username" name="username" type="text">
    <input placeholder="Email" name="email" type="email">
    <input placeholder="Password" name="password" type="password">
    <input placeholder="Retype your password" name="passwordVerification" type="password">
    <input placeholder="Date of birth" name="dob" type="date">
    <button type="submit">Sign up</button>
</form>

<span>Already have an account? <a href="/user/login">Log in</a> </span>