<div class="navbarContainer">
    <ul class="navbarElements">
        <li class="myProfile"><a class="navbarLink" href="/user/profile">My profile </a></li>
        <li class="myLists"><a class="navbarLink" href="/user/lists">My lists</a></li>
        <li class="logout"><a class="navbarLink" href="/user/logout">Log out</a></li>
    </ul>
    <!-- Figure out the route for search -->
    <div class="searchFormContainer">
        <form action="/movie/search" method="post" class="searchForm">
        <input type="search" placeholder="Search movie" name="searchMovie" id="searchMovieInput" class="searchMovieInput">
        <button type="submit" class="searchBtn">Search</button>
        </form>
    </div>
</div>

<link rel="stylesheet" href="/styles/navBar.css">