<div class="navbarContainer">
    <ul class="navbarElements">
        <li class="signup"><a class="navbarLink" href="/user/signup">Sign up</a></li>
        <li class="login"><a class="navbarLink" href="/user/login">Log in</a></li>
    </ul>
    
</div>

<link rel="stylesheet" href="/styles/navBar.css">   