<div class="navbarContainer">
    <ul class="navbarElements">
        <li class="signup"><a href="/user/signup">Sign up</a></li>
        <li class="login"><a href="/user/login">Log in</a></li>
    </ul>
    <!-- Figure out the route for search -->
    
</div>

<link rel="stylesheet" href="/styles/navBar.css">