<div>
    <ul>
        <li><a href="user/profile">My profile </a></li>
        <li><a href="user/lists">My lists</a></li>
        <li><a href="user/logout">Log out</a></li>
    </ul>
    <!-- Figure out the route for search -->
    <form action="/search" method="get">
    <input type="search" placeholder="Movie" name="searchMovie" id="searchMovieInput">
    <button type="submit">Search</button>
    </form>
</div>