<div class="navbarContainer">
    <ul class="navbarElements">
        <li class="myProfile"><a href="/user/profile">My profile </a></li>
        <li class="myLists"><a href="/user/lists">My lists</a></li>
        <li class="logout"><a href="/user/logout">Log out</a></li>
    </ul>
    <!-- Figure out the route for search -->
    <form action="/movie/search" method="post" class="searchForm">
    <input type="search" placeholder="Movie" name="searchMovie" id="searchMovieInput">
    <button type="submit" class="searchBtn">Search</button>
    </form>
</div>
<link rel="stylesheet" href="/styles/navBar.css">