<div>
    <ul>
        <li><a href="user/signup">Sign up</a></li>
        <li><a href="user/login">Log in</a></li>
    </ul>
    <!-- Figure out the route for search -->
    <form action="/search" method="get">
    <input type="search" placeholder="Movie" name="searchMovie" id="searchMovieInput">
    <button type="submit">Search</button>
    </form>
</div>