* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding-top: 3em;
    margin: 0px 30px ;
    font-size: 2em;
    color: #4F1E3Bff;
    text-shadow: 1px 1px #DA1152ff;
}

.welcome {
    padding-top: 1em;
    margin: 0px 30px ;
    font-size: 1.6em;
    color: #4F1E3Bff;
    text-shadow: 1px 1px #F9EBF4ff;
}

.myListsHeading {
    margin: 1em;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9EBF4ff;
    text-shadow: -3px 3px 0 #DA1152ff,
                          0px 0px 0 #DA1152ff,
                         0px 1px 0 #DA1152ff,
                        -2px 0px 0 #DA1152ff;
}

body {
    background-image: url('/images/bckgrnd.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.myListsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 30px 30px ;

}
.singleListContainer {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9EBF4ff;
    border-radius: 10px;
    padding: 2em;
    gap: 20px;
}

.listName {
    text-decoration: none;
    color: #4D334Fff;
    text-shadow: 1px 1px #F9EBF4ff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7em;
    margin-bottom: 20px;
    text-decoration: none;
}

.listLink {
    text-decoration: none;
}

.listLink:hover,
.listName:hover {
    color: #DA1152ff;
}

.listCover {
    width: 200px;
    border-radius: 10px;
}

.addListImg {
    align-content: center;
    cursor: pointer;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.newListContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addListBtn {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #F9EBF4ff;
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 10px;
}

.addListInput {
    padding: 5px;
    align-items: center;
    border: 1px solid rgb(145, 120, 135);
    border-radius: 6px;
    align-content: center;
    font-size: 0.9em;
}

.addListContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.addListForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}