* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/bckgrnd.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;

}

.hackyTrick{
    margin-top: 3em;
}

.searchResultTitle {
    margin: 1.5em;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F9EBF4ff;
    
    text-shadow: -3px 3px 0 #DA1152ff,
                          0px 0px 0 #DA1152ff,
                         0px 1px 0 #DA1152ff,
                        -2px 0px 0 #DA1152ff;
    
}

.searchResultContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3em;
    
}

.singleResultContainer {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9EBF4ff;
    max-width: 18em;
    min-width: 18em;
    border-radius: 10px;
    padding: 2em;
    min-height: 28em;
    max-height: 28em;
}

.resultImg {
    border-radius: 10px;
    opacity: 1;
}

.resultLink {
    text-decoration: none;
    color: #DA1152ff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2em;
    opacity: 1;
}