* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    /* display: flex;
    justify-content: center; */
}

.outside {
    display: flex;
    justify-content: center;
}

.hackyTrick{
    margin-top: 7em;
}

.signupContainer,
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 420px;
    background-color: rgba(249, 235, 244, 0.8);
    border-radius: 10px;
}

h2 {
    margin: 1em;
    color: #751F40ff;
    font-size: 2em;
}

.signupForm, 
.loginForm {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input {
    padding: 5px;
    align-items: center;
    border: 1px solid rgb(145, 120, 135);
    border-radius: 6px;
    align-content: center;
    font-size: 0.9em;
    width: 100%;
}

.signupBtn,
.loginBtn {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #F9EBF4ff;
    font-size: 1em;
    cursor: pointer;

}

.signupLink,
.loginLink {
    text-decoration: none;
    color: #4D334Fff;
}

.signupLink:hover,
.loginLink:hover {
    color: #DA1152ff;
}

.signupError {
    font-size: 0.8em;
    color: #DA1152ff;
}


